<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>

    <link rel="stylesheet" type="text/css" href="prediction.css">

    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="predict-bg">
                <div class="prediction-bg">
                    <nav>
                        <div class="logo">Site Name</div>
                        <ul>
                            <li>
                                <a href="#">Prediction</a>
                            </li>
                            <li>
                                <a href="#">Analytics</a>
                            </li>
                            <li>
                                <a href="#" class="btn signup">Sign In</a>
                            </li>
                        </ul>
                    </nav>
    
                    <!--end of navigation-->
    
                    <div class="predict-page-title">
                        <div class="predict-text-atas">
                            <img src="static/img/predict_dec.svg">
                            <h1>Debt Collection</h1>
                            <h3>Performance <span>Analytics</span></h3>
                        </div>
                        <div class="predict-text-bawah">
                            <p>the premier platform designed to <br>
                                revolutionize the way you approach debt collection.</p>
                        </div>
                    </div>

                    <div class="box-upload">
                        <form action="/dashboard">
                            <input type="file">
                        </form>
    
                        <a href="#">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>